/* CSS for App.js Start */
.container{
    border: 5px solid teal;
    margin: 10px auto;
}
/* ***************** */

/* CSS for HomePage.js [About + Input + Output] Start */
#home-page{
    border: 1px dashed teal;
    padding: 12px 0px;
}

.Form-IO{
    display: flex;
}

/* Media Query for smallScreen */
@media screen and (width < 1018px) {
    .Form-IO{
        display: inline-block;
    }    
}
/* ***************** */

/* CSS common for Home.js, FormInput.js, FormOutput.js  Start */
#home, #finput, #foutput {
    border: 1px dashed black;
    width: auto;
}
/* ***************** */

/* CSS for Home.js  Start */
#home {
    background-color: greenyellow;
    height: 600px;
    padding: 20px;
    margin: 10px 0px;
}
/* ***************** */

/* CSS common for FormInput.js, FormOutput.js  Start */
#finput, #foutput{
    width: 50%;
    height: 600px;
    padding: 20px;
    text-align: center;
    margin: 20px 20px ;
}

/* Media Query for smallScreen */
@media screen and (width < 1018px) {
    #finput, #foutput{
        border: 3px solid cyan;
        background-color: blue;
        width: 100%;
        height: auto;
        display: inline-block;
        margin: 10px 0px;
    }
}
/* ***************** */

/* CSS for FormInput.js  Start */
#finput{
    background-color:yellow;
    font-family: serif;
}

.form-data{
    border: 1px salmon solid;
    margin: 10px 0px;
    padding: 20px;
    color: black;
}

.form-control {
height: 37.6px;
background-color: white;
border: 1px solid rgb(0, 0, 0);
appearance: auto;
}

.btn-primary {
color: white;
background-color: #007bff;
border-color: #007bff;
}

.btn-primary:hover {
color: #fff;
background-color: #0056b3;
border-color: #004d99;
}
/* ***************** */

/* CSS for FormOutput.js  Start */
#foutput {
    background-color: orange;
}
/* ***************** */

/* Media Query for largeScreen */
/* @media screen and (width > 1018px) { } */
    
/* Media Query for smallScreen */
/* @media screen and (width < 1018px) { } */